body{
    -webkit-background-image: url("../images/bg_1.png");
    -moz-background-image: url("../images/bg_1.png");
    -o-background-image: url("../images/bg_1.png");
    background-image: url("../images/bg_1.png");
background-repeat: repeat;
}
.intro_main{
    color: darkslateblue;
}
h3{

}

.button_youtube{
}

.button_youtube:hover{
}

.button_youtube {
    background: url("../images/YouTube-social-icon_dark_128px.png");
	border:0px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:0px 0px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.button_youtube:hover {
    background: url("../images/YouTube-social-icon_red_128px.png");
}
.button_youtube:active {
	position:relative;
	top:1px;
}


