.intro_text {
    background: rgba(0, 0, 0, 0.24);
    color: #FFF;
    display: inline;

}

.button_intro {
    background: rgba(255, 255, 255, 0);
}

.button_intro::selection {
    background: rgba(0, 0, 0, 0.07);
}

.Button_intro {
    background-color: rgba(0, 0, 0, 0.01);
    -moz-border-radius: 25px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 76px;
    text-decoration: none;
    margin: 10px;
}

.Button_intro:hover {
    background-color: rgba(0, 0, 0, 0.13);
}

.Button_intro:active {
    position: relative;
    top: 1px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 720px; /* Size of the Lander */
}

header {
    height: 800px;
    width: 100%;
    padding-top: 50px;
    /*background: #f07057; */
    -webkit-background-image: url("../images/Jamma_Masjid.jpg");
    -moz-background-image: url("../images/Jamma_Masjid.jpg");
    -o-background-image: url("../images/Jamma_Masjid.jpg");
    background-image: url("../images/Jamma_Masjid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: rgb(221, 221, 221);
}

.main-nav,
.main {
    position: relative;
}

.main-nav {
    background: #fff;
    height: 80px; /* Size of Navigation bar */
    z-index: 150;
    margin-bottom: -80px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

header,
.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
}

.main {
    background: #f2f2e8;
    padding: 110px 50px 50px;
    column-count: 1;
    column-gap: 40px;
}

.navBtn_1,.navBtn_2,.navBtn_3,.navBtn_4,.navBtn_5,.navBtn_6 {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#362a36;
	font-family:Arial;
    height:100%;
	padding:35px;
	text-decoration:none;
	text-shadow:0px 5px 13px #2f6627;
}

.navBtn_1:hover {
    background-color: rgba(255, 0, 0, 0.75);

}

.navBtn_1:active {
    background-color: rgba(255, 0, 0, 0.85);
	position:relative;
	top:1px;
}

.navBtn_2:hover {
    background-color: rgba(222, 184, 135, 0.75);
}

.navBtn_2:active {
    background-color: rgba(222, 184, 135, 0.85);
	position:relative;
	top:1px;
}

.navBtn_3:hover {
    background-color: rgba(128, 128, 128, 0.75);
}

.navBtn_3:active {
    background-color: rgba(128, 128, 128, 0.85);
	position:relative;
	top:1px;
}

.navBtn_4:hover {
    background-color: rgba(0, 0, 255, 0.75);
}

.navBtn_4:active {
    background-color: rgba(0, 0, 255, 0.85);
	position:relative;
	top:1px;
}

.navBtn_5:hover {
    background-color: rgba(154, 205, 50, 0.75);
}

.navBtn_5:active {
    background-color: rgba(154, 205, 50, 0.85);
	position:relative;
	top:1px;
}

.navBtn_6:hover {
    background-color: rgba(196, 158, 250, 0.75);
}

.navBtn_6:active {
    background-color: rgba(196, 158, 250, 0.85);
	position:relative;
    top:1px;
}